{
  "openapi": "3.1.0",
  "info": {
    "title": "S2 API",
    "description": "Serverless API for streaming data backed by object storage.",
    "termsOfService": "https://s2.dev/terms",
    "contact": {
      "email": "hi@s2.dev"
    },
    "license": {
      "name": "Apache 2.0"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://aws.s2.dev/v1alpha"
    }
  ],
  "paths": {
    "/basins": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "List basins.",
        "operationId": "list_basins",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "description": "List basin names that begin with this prefix.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_after",
            "in": "query",
            "description": "Only return basins names that lexicographically start after this name.\nThis can be the last basin name seen in a previous listing, to continue from there.\nIt must be greater than or equal to the prefix if specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results, up to a maximum of 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBasinsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/basins/{basin}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get basin configuration.",
        "operationId": "get_basin_config",
        "parameters": [
          {
            "name": "basin",
            "in": "path",
            "description": "Name of the basin.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasinConfig"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "account"
        ],
        "summary": "Create a new basin.",
        "operationId": "create_basin",
        "parameters": [
          {
            "name": "basin",
            "in": "path",
            "description": "Name of the basin.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s2-request-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBasinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasinInfo"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "account"
        ],
        "summary": "Delete a basin.",
        "operationId": "delete_basin",
        "parameters": [
          {
            "name": "basin",
            "in": "path",
            "description": "Name of the basin.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "account"
        ],
        "summary": "Update basin configuration.",
        "operationId": "reconfigure_basin",
        "parameters": [
          {
            "name": "basin",
            "in": "path",
            "description": "Name of the basin.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasinConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasinConfig"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/streams": {
      "get": {
        "tags": [
          "basin"
        ],
        "summary": "List Streams.",
        "operationId": "list_streams",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "description": "List stream names that begin with this prefix.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_after",
            "in": "query",
            "description": "Only return stream names that lexicographically start after this name.\nThis can be the last stream name seen in a previous listing, to continue from there.\nIt must be greater than or equal to the prefix if specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results, up to a maximum of 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStreamsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1alpha",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "my-favorite-basin"
              }
            }
          }
        ]
      }
    },
    "/streams/{stream}": {
      "get": {
        "tags": [
          "basin"
        ],
        "summary": "Get stream configuration.",
        "operationId": "get_stream_config",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Name of the stream.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamConfig"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1alpha",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "my-favorite-basin"
              }
            }
          }
        ]
      },
      "put": {
        "tags": [
          "basin"
        ],
        "summary": "Create a stream.",
        "operationId": "create_stream",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Name of the stream.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s2-request-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStreamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamInfo"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1alpha",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "my-favorite-basin"
              }
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "basin"
        ],
        "summary": "Delete a stream.",
        "operationId": "delete_stream",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Name of the stream.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1alpha",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "my-favorite-basin"
              }
            }
          }
        ]
      },
      "patch": {
        "tags": [
          "basin"
        ],
        "summary": "Update stream configuration.",
        "operationId": "reconfigure_stream",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Name of the stream.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamConfig"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1alpha",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "my-favorite-basin"
              }
            }
          }
        ]
      }
    },
    "/streams/{stream}/records": {
      "get": {
        "tags": [
          "stream"
        ],
        "summary": "Retrieve records.",
        "description": "Retrieve a batch of records, or set `Accept: text/event-stream` to stream using server-sent events.",
        "operationId": "read",
        "parameters": [
          {
            "name": "start_seq_num",
            "in": "query",
            "description": "Starting sequence number (inclusive).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit how many records can be returned.\nThis will get capped at the default limit,\nwhich is up to 1000 records or 1MiB of metered bytes.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "bytes": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int64",
                  "description": "Metered bytes limit.",
                  "minimum": 0
                },
                "count": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int64",
                  "description": "Record count limit.",
                  "minimum": 0
                }
              }
            }
          },
          {
            "name": "s2-format",
            "in": "header",
            "description": "json: utf-8 plaintext data.\njson-binsafe: base64 encoded binary data.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/FormatOption"
                }
              ],
              "default": "json"
            }
          },
          {
            "name": "stream",
            "in": "path",
            "description": "Name of the stream.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Output"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ReadResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1alpha",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "my-favorite-basin"
              }
            }
          }
        ]
      },
      "post": {
        "tags": [
          "stream"
        ],
        "summary": "Append records.",
        "description": "Append a batch of records to a stream.",
        "operationId": "append",
        "parameters": [
          {
            "name": "s2-format",
            "in": "header",
            "description": "json: utf-8 plaintext data.\njson-binsafe: base64 encoded binary data.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/FormatOption"
                }
              ],
              "default": "json"
            }
          },
          {
            "name": "stream",
            "in": "path",
            "description": "Name of the stream.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendOutput"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1alpha",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "my-favorite-basin"
              }
            }
          }
        ]
      }
    },
    "/streams/{stream}/records/tail": {
      "get": {
        "tags": [
          "stream"
        ],
        "summary": "Check the tail.",
        "description": "Check the sequence number that will be assigned to the next record on a stream.",
        "operationId": "check_tail",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Name of the stream.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckTailResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1alpha",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "my-favorite-basin"
              }
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AppendInput": {
        "type": "object",
        "description": "Input for append requests.",
        "required": [
          "records"
        ],
        "properties": {
          "fencing_token": {
            "type": [
              "string",
              "null"
            ],
            "description": "Enforce a fencing token which must have been previously set by a `fence` command record."
          },
          "match_seq_num": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Enforce that the sequence number issued to the first record matches.",
            "minimum": 0
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppendRecord"
            },
            "description": "Batch of records to append atomically, which must contain at least one record, and no more than 1000.\nThe total size of a batch of records may not exceed 1MiB of metered bytes."
          }
        }
      },
      "AppendOutput": {
        "type": "object",
        "description": "Output from append response.",
        "required": [
          "start_seq_num",
          "start_timestamp",
          "end_seq_num",
          "end_timestamp",
          "next_seq_num",
          "last_timestamp"
        ],
        "properties": {
          "end_seq_num": {
            "type": "integer",
            "format": "int64",
            "description": "Sequence number of last record appended + 1.\n`end_seq_num - start_seq_num` will be the number of records in the batch.",
            "minimum": 0
          },
          "end_timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the last record appended.",
            "minimum": 0
          },
          "last_timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the last durable record on the stream.",
            "minimum": 0
          },
          "next_seq_num": {
            "type": "integer",
            "format": "int64",
            "description": "Tail of the stream, i.e. sequence number that will be assigned to the next record.\nThis can be greater than `end_seq_num` in case of concurrent appends.",
            "minimum": 0
          },
          "start_seq_num": {
            "type": "integer",
            "format": "int64",
            "description": "Sequence number of first record appended.",
            "minimum": 0
          },
          "start_timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the first record appended.",
            "minimum": 0
          }
        }
      },
      "AppendRecord": {
        "type": "object",
        "description": "Record to be appended to a stream.",
        "required": [
          "body"
        ],
        "properties": {
          "body": {
            "type": "string",
            "description": "Body of this record."
          },
          "headers": {
            "type": "array",
            "items": {
              "type": "array",
              "items": false,
              "prefixItems": [
                {
                  "type": "string"
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Series of name-value pairs for this record."
          },
          "timestamp": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Timestamp for this record.\nPrecise semantics depend on the stream's `timestamping` config.",
            "minimum": 0
          }
        }
      },
      "BasinConfig": {
        "type": "object",
        "description": "Basin configuration.",
        "properties": {
          "create_stream_on_append": {
            "type": "boolean",
            "description": "Create stream on append if it doesn't exist,\nusing the default stream configuration."
          },
          "create_stream_on_read": {
            "type": "boolean",
            "description": "Create stream on read if it doesn't exist,\nusing the default stream configuration."
          },
          "default_stream_config": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/StreamConfig",
                "description": "Default stream configuration."
              }
            ]
          }
        }
      },
      "BasinInfo": {
        "type": "object",
        "description": "Basin information.",
        "required": [
          "name",
          "scope",
          "state"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Basin name."
          },
          "scope": {
            "$ref": "#/components/schemas/BasinScope",
            "description": "Basin scope."
          },
          "state": {
            "$ref": "#/components/schemas/BasinState",
            "description": "Basin state."
          }
        }
      },
      "BasinScope": {
        "type": "string",
        "description": "Basin scope.",
        "enum": [
          "unspecified",
          "aws:us-east-1"
        ]
      },
      "BasinState": {
        "type": "string",
        "description": "Current state of the basin.",
        "enum": [
          "unspecified",
          "active",
          "creating",
          "deleting"
        ]
      },
      "CheckTailResponse": {
        "type": "object",
        "description": "Check tail response.",
        "required": [
          "next_seq_num",
          "last_timestamp"
        ],
        "properties": {
          "last_timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the last durable record on the stream.\nIt starts out as 0 for a new stream.",
            "minimum": 0
          },
          "next_seq_num": {
            "type": "integer",
            "format": "int64",
            "description": "Sequence number that will be assigned to the next record on the stream.\nIt will be 0 for a stream that has not been written to.",
            "minimum": 0
          }
        }
      },
      "CreateBasinRequest": {
        "type": "object",
        "description": "Create basin request.",
        "properties": {
          "config": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/BasinConfig",
                "description": "Basin configuration."
              }
            ]
          },
          "scope": {
            "$ref": "#/components/schemas/BasinScope",
            "description": "Basin scope."
          }
        }
      },
      "CreateStreamRequest": {
        "type": "object",
        "description": "Create stream request.",
        "properties": {
          "config": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/StreamConfig",
                "description": "Configuration for the new stream."
              }
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "FormatOption": {
        "type": "string",
        "enum": [
          "json",
          "json-binsafe"
        ]
      },
      "Header": {
        "type": "object",
        "description": "Headers add structured information to a record as name-value pairs.",
        "required": [
          "name",
          "value"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Header name blob.\nThe name cannot be empty, with the exception of an S2 command record."
          },
          "value": {
            "type": "string",
            "description": "Header value blob."
          }
        }
      },
      "ListBasinsResponse": {
        "type": "object",
        "description": "List basins response.",
        "required": [
          "basins",
          "has_more"
        ],
        "properties": {
          "basins": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BasinInfo"
            },
            "description": "Matching basins."
          },
          "has_more": {
            "type": "boolean",
            "description": "If set, indicates there are more results that can be listed with `start_after`."
          }
        }
      },
      "ListStreamsResponse": {
        "type": "object",
        "description": "List streams response.",
        "required": [
          "streams",
          "has_more"
        ],
        "properties": {
          "has_more": {
            "type": "boolean",
            "description": "If set, indicates there are more results that can be listed with `start_after`."
          },
          "streams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StreamInfo"
            },
            "description": "Matching streams."
          }
        }
      },
      "Output": {
        "oneOf": [
          {
            "type": "object",
            "title": "Batch",
            "description": "Batch of records.\nIt can only be empty when not in a session context,\nif the request cannot be satisfied without violating its limit.",
            "required": [
              "batch"
            ],
            "properties": {
              "batch": {
                "$ref": "#/components/schemas/SequencedRecordBatch",
                "description": "Batch of records.\nIt can only be empty when not in a session context,\nif the request cannot be satisfied without violating its limit."
              }
            }
          },
          {
            "type": "object",
            "title": "NextSeqNum",
            "description": "Tail of the stream, i.e. sequence number that will be assigned to the next record.\nIt will be returned if the requested starting position is greater than the tail,\nor only in case of a limited read, equal to it.\nIt will also be returned if there are no records on the stream between the\nrequested starting position and the tail.",
            "required": [
              "next_seq_num"
            ],
            "properties": {
              "next_seq_num": {
                "type": "integer",
                "format": "int64",
                "description": "Tail of the stream, i.e. sequence number that will be assigned to the next record.\nIt will be returned if the requested starting position is greater than the tail,\nor only in case of a limited read, equal to it.\nIt will also be returned if there are no records on the stream between the\nrequested starting position and the tail.",
                "minimum": 0
              }
            }
          }
        ],
        "description": "Batch of records or the next sequence number on the stream."
      },
      "ReadResponse": {
        "oneOf": [
          {
            "type": "object",
            "title": "message",
            "required": [
              "event",
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/Output"
              },
              "event": {
                "type": "string",
                "enum": [
                  "message"
                ]
              }
            }
          },
          {
            "type": "object",
            "title": "error",
            "required": [
              "event",
              "data"
            ],
            "properties": {
              "data": {
                "type": "string"
              },
              "event": {
                "type": "string",
                "enum": [
                  "error"
                ]
              }
            }
          },
          {
            "type": "object",
            "title": "ping",
            "required": [
              "event",
              "data"
            ],
            "properties": {
              "data": {
                "type": "string"
              },
              "event": {
                "type": "string",
                "enum": [
                  "ping"
                ]
              }
            }
          }
        ]
      },
      "RetentionPolicy": {
        "oneOf": [
          {
            "type": "object",
            "title": "Age",
            "description": "Age in seconds for automatic trimming of records older than this threshold.\nIf set to 0, the stream will have infinite retention.",
            "required": [
              "age"
            ],
            "properties": {
              "age": {
                "type": "integer",
                "format": "int64",
                "description": "Age in seconds for automatic trimming of records older than this threshold.\nIf set to 0, the stream will have infinite retention.",
                "minimum": 0
              }
            }
          }
        ],
        "description": "Retention policy for the stream.\nIf unspecified, the default is to retain records for 7 days."
      },
      "SequencedRecord": {
        "type": "object",
        "description": "Record retrieved from a stream.",
        "required": [
          "seq_num",
          "timestamp",
          "headers",
          "body"
        ],
        "properties": {
          "body": {
            "type": "string",
            "description": "Body of this record."
          },
          "headers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Header"
            },
            "description": "Series of name-value pairs for this record."
          },
          "seq_num": {
            "type": "integer",
            "format": "int64",
            "description": "Sequence number assigned to this record.",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp for this record.",
            "minimum": 0
          }
        }
      },
      "SequencedRecordBatch": {
        "type": "object",
        "description": "A batch of sequenced records.",
        "required": [
          "records"
        ],
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SequencedRecord"
            },
            "description": "Batch of sequenced records."
          }
        }
      },
      "StorageClass": {
        "type": "string",
        "description": "Storage class for recent writes.",
        "enum": [
          "unspecified",
          "standard",
          "express"
        ]
      },
      "StreamConfig": {
        "type": "object",
        "description": "Stream configuration.",
        "properties": {
          "retention_policy": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/RetentionPolicy",
                "description": "Retention policy for the stream.\nIf unspecified, the default is to retain records for 7 days."
              }
            ]
          },
          "storage_class": {
            "$ref": "#/components/schemas/StorageClass",
            "description": "Storage class for recent writes."
          },
          "timestamping": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Timestamping",
                "description": "Timestamping behavior."
              }
            ]
          }
        }
      },
      "StreamInfo": {
        "type": "object",
        "description": "Stream information.",
        "required": [
          "name",
          "created_at"
        ],
        "properties": {
          "created_at": {
            "type": "integer",
            "format": "int32",
            "description": "Creation time in seconds since Unix epoch.",
            "minimum": 0
          },
          "deleted_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Deletion time in seconds since Unix epoch, if the stream is being deleted.",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "description": "Stream name."
          }
        }
      },
      "Timestamping": {
        "type": "object",
        "required": [
          "mode"
        ],
        "properties": {
          "mode": {
            "type": "integer",
            "format": "int32",
            "description": "Timestamping mode for appends that influences how timestamps are handled."
          },
          "uncapped": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Allow client-specified timestamps to exceed the arrival time.\nIf this is false or not set, client timestamps will be capped at the arrival time."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "account",
      "description": "Operate on an S2 account."
    },
    {
      "name": "basin",
      "description": "Operate on an S2 basin"
    },
    {
      "name": "stream",
      "description": "Operate on an S2 stream"
    }
  ]
}
