{
  "openapi": "3.1.0",
  "info": {
    "title": "S2 API",
    "description": "Serverless API for streaming data backed by object storage.",
    "termsOfService": "https://s2.dev/terms",
    "contact": {
      "email": "hi@s2.dev"
    },
    "license": {
      "name": "Apache 2.0"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://aws.s2.dev/v1"
    }
  ],
  "paths": {
    "/access-tokens": {
      "get": {
        "tags": [
          "access-tokens"
        ],
        "summary": "List access tokens.",
        "operationId": "list_access_tokens",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "description": "List access tokens that begin with this prefix.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "start_after",
            "in": "query",
            "description": "Only return access tokens that lexicographically start after this ID.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results, up to a maximum of 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "maximum": 1000,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccessTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "access-tokens"
        ],
        "summary": "Issue a new access token.",
        "operationId": "issue_access_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueAccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/access-tokens/{id}": {
      "delete": {
        "tags": [
          "access-tokens"
        ],
        "summary": "Revoke an access token.",
        "operationId": "revoke_access_token",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Access token ID.\nIt must be unique to the account and between 1 and 96 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/basins": {
      "get": {
        "tags": [
          "basins"
        ],
        "summary": "List basins.",
        "operationId": "list_basins",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "description": "List basin names that begin with this prefix.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "start_after",
            "in": "query",
            "description": "Only return basins names that lexicographically start after this name.\nThis can be the last basin name seen in a previous listing, to continue from there.\nIt must be greater than or equal to the `prefix` if that is specified.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results, up to a maximum of 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "maximum": 1000,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBasinsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "basins"
        ],
        "summary": "Create a basin.",
        "operationId": "create_basin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBasinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasinInfo"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/basins/{basin}": {
      "get": {
        "tags": [
          "basins"
        ],
        "summary": "Get basin config.",
        "operationId": "get_basin_config",
        "parameters": [
          {
            "name": "basin",
            "in": "path",
            "description": "Basin name, which must be globally unique.\nThe name must be between 8 and 48 characters, comprising lowercase\nletters, numbers and hyphens. It cannot begin or end with a hyphen.",
            "required": true,
            "schema": {
              "type": "string",
              "maximum": 48,
              "minimum": 8,
              "pattern": "^(?!-)[a-z0-9-]{8,48}(?<!-)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasinConfig"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "basins"
        ],
        "summary": "Create or reconfigure a basin.",
        "operationId": "create_or_reconfigure_basin",
        "parameters": [
          {
            "name": "s2-request-token",
            "in": "header",
            "description": "Provide a client request token header for idempotent retry behaviour.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "basin",
            "in": "path",
            "description": "Basin name, which must be globally unique.\nThe name must be between 8 and 48 characters, comprising lowercase\nletters, numbers and hyphens. It cannot begin or end with a hyphen.",
            "required": true,
            "schema": {
              "type": "string",
              "maximum": 48,
              "minimum": 8,
              "pattern": "^(?!-)[a-z0-9-]{8,48}(?<!-)$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "$ref": "#/components/schemas/CreateOrReconfigureBasinRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasinInfo"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "basins"
        ],
        "summary": "Delete a basin.",
        "operationId": "delete_basin",
        "parameters": [
          {
            "name": "basin",
            "in": "path",
            "description": "Basin name, which must be globally unique.\nThe name must be between 8 and 48 characters, comprising lowercase\nletters, numbers and hyphens. It cannot begin or end with a hyphen.",
            "required": true,
            "schema": {
              "type": "string",
              "maximum": 48,
              "minimum": 8,
              "pattern": "^(?!-)[a-z0-9-]{8,48}(?<!-)$"
            }
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "basins"
        ],
        "summary": "Reconfigure a basin.",
        "operationId": "reconfigure_basin",
        "parameters": [
          {
            "name": "basin",
            "in": "path",
            "description": "Basin name, which must be globally unique.\nThe name must be between 8 and 48 characters, comprising lowercase\nletters, numbers and hyphens. It cannot begin or end with a hyphen.",
            "required": true,
            "schema": {
              "type": "string",
              "maximum": 48,
              "minimum": 8,
              "pattern": "^(?!-)[a-z0-9-]{8,48}(?<!-)$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasinReconfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasinConfig"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/streams": {
      "get": {
        "tags": [
          "streams"
        ],
        "summary": "List streams.",
        "operationId": "list_streams",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "description": "List stream names that begin with this prefix.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "start_after",
            "in": "query",
            "description": "Only return stream names that lexicographically start after this name.\nThis can be the last stream name seen in a previous listing, to continue from there.\nIt must be greater than or equal to the prefix if specified.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results, up to a maximum of 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "maximum": 1000,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStreamsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "",
                "description": "Basin name"
              }
            }
          }
        ]
      },
      "post": {
        "tags": [
          "streams"
        ],
        "summary": "Create a stream.",
        "operationId": "create_stream",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStreamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamInfo"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "",
                "description": "Basin name"
              }
            }
          }
        ]
      }
    },
    "/streams/{stream}": {
      "get": {
        "tags": [
          "streams"
        ],
        "summary": "Get stream configuration.",
        "operationId": "get_stream_config",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Stream name, which must be unique within the basin.\nIt can be an arbitrary string up to 512 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamConfig"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "",
                "description": "Basin name"
              }
            }
          }
        ]
      },
      "put": {
        "tags": [
          "streams"
        ],
        "summary": "Create or reconfigure a stream.",
        "operationId": "create_or_reconfigure_stream",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Stream name, which must be unique within the basin.\nIt can be an arbitrary string up to 512 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s2-request-token",
            "in": "header",
            "description": "Provide a client request token header for idempotent retry behaviour.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "$ref": "#/components/schemas/StreamConfig"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamInfo"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "",
                "description": "Basin name"
              }
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "streams"
        ],
        "summary": "Delete a stream.",
        "operationId": "delete_stream",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Stream name, which must be unique within the basin.\nIt can be an arbitrary string up to 512 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "",
                "description": "Basin name"
              }
            }
          }
        ]
      },
      "patch": {
        "tags": [
          "streams"
        ],
        "summary": "Reconfigure a stream.",
        "operationId": "reconfigure_stream",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Stream name, which must be unique within the basin.\nIt can be an arbitrary string up to 512 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamReconfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamConfig"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "",
                "description": "Basin name"
              }
            }
          }
        ]
      }
    },
    "/streams/{stream}/records": {
      "get": {
        "tags": [
          "records"
        ],
        "summary": "Retrieve records.",
        "description": "Retrieve a batch of records, or set `Accept: text/event-stream` to stream using server-sent events.",
        "operationId": "read",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Stream name, which must be unique within the basin.\nIt can be an arbitrary string up to 512 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s2-format",
            "in": "header",
            "description": "Recognized when the Content-Type is `application/json`.\njson: UTF-8 data\njson-binsafe: Base64-encoded binary data",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/S2Format"
            }
          },
          {
            "name": "seq_num",
            "in": "query",
            "description": "Start from a sequence number.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/u64"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Start from a timestamp.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/u64"
            }
          },
          {
            "name": "tail_offset",
            "in": "query",
            "description": "Start from number of records before the tail, i.e. before the next sequence number.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Limit total records to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "bytes",
            "in": "query",
            "description": "Limit total metered bytes to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBatch"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ReadEvent"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "416": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TailResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "",
                "description": "Basin name"
              }
            }
          }
        ]
      },
      "post": {
        "tags": [
          "records"
        ],
        "summary": "Append records.",
        "description": "Append a batch of records to a stream.",
        "operationId": "append",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Stream name, which must be unique within the basin.\nIt can be an arbitrary string up to 512 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s2-format",
            "in": "header",
            "description": "Recognized when the Content-Type is `application/json`.\njson: UTF-8 data\njson-binsafe: Base64-encoded binary data",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/S2Format"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendAck"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendConditionFailed"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "",
                "description": "Basin name"
              }
            }
          }
        ]
      }
    },
    "/streams/{stream}/records/tail": {
      "get": {
        "tags": [
          "records"
        ],
        "summary": "Check the tail.",
        "description": "Check the tail of a stream.",
        "operationId": "check_tail",
        "parameters": [
          {
            "name": "stream",
            "in": "path",
            "description": "Stream name, which must be unique within the basin.\nIt can be an arbitrary string up to 512 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TailResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{basin}.b.aws.s2.dev/v1",
            "description": "Endpoint for the basin",
            "variables": {
              "basin": {
                "default": "",
                "description": "Basin name"
              }
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccessTokenInfo": {
        "type": "object",
        "required": [
          "id",
          "scope"
        ],
        "properties": {
          "auto_prefix_streams": {
            "type": "boolean",
            "description": "Namespace streams based on the configured stream-level scope, which must be a prefix.\nStream name arguments will be automatically prefixed, and the prefix will be stripped\nwhen listing streams.",
            "default": false
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "time",
            "description": "Expiration time in ISO 8601 format.\nIf not set, the expiration will be set to that of the requestor's token."
          },
          "id": {
            "type": "string",
            "description": "Access token ID.\nIt must be unique to the account and between 1 and 96 characters."
          },
          "scope": {
            "$ref": "#/components/schemas/AccessTokenScope",
            "description": "Access token scope."
          }
        }
      },
      "AccessTokenScope": {
        "type": "object",
        "properties": {
          "access_tokens": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ResourceSet",
                "description": "Token IDs allowed."
              }
            ]
          },
          "basins": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ResourceSet",
                "description": "Basin names allowed."
              }
            ]
          },
          "op_groups": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/PermittedOperationGroups",
                "description": "Access permissions at operation group level."
              }
            ]
          },
          "ops": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "description": "Operations allowed for the token.\nA union of allowed operations and groups is used as an effective set of allowed operations."
          },
          "streams": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ResourceSet",
                "description": "Stream names allowed."
              }
            ]
          }
        }
      },
      "AppendAck": {
        "type": "object",
        "description": "Success response message to an Append request.",
        "required": [
          "start",
          "end",
          "tail"
        ],
        "properties": {
          "end": {
            "$ref": "#/components/schemas/StreamPosition",
            "description": "Sequence number of the last record that was appended + 1,\nand timestamp of the last record that was appended.\nThe difference between `end.seq_num` and `start.seq_num`\nwill be the number of records appended."
          },
          "start": {
            "$ref": "#/components/schemas/StreamPosition",
            "description": "Sequence number and timestamp of the first record that was appended."
          },
          "tail": {
            "$ref": "#/components/schemas/StreamPosition",
            "description": "Sequence number that will be assigned to the next record on the stream,\nand timestamp of the last record on the stream.\nThis can be greater than the `end` position in case of concurrent appends."
          }
        }
      },
      "AppendConditionFailed": {
        "oneOf": [
          {
            "type": "object",
            "description": "Fencing token did not match.\nThe expected fencing token is returned.",
            "required": [
              "FencingTokenMismatch"
            ],
            "properties": {
              "FencingTokenMismatch": {
                "type": "string",
                "description": "Fencing token did not match.\nThe expected fencing token is returned."
              }
            }
          },
          {
            "type": "object",
            "description": "Sequence number did not match the tail of the stream.\nThe expected next sequence number is returned.",
            "required": [
              "SeqNumMismatch"
            ],
            "properties": {
              "SeqNumMismatch": {
                "type": "integer",
                "format": "int64",
                "description": "Sequence number did not match the tail of the stream.\nThe expected next sequence number is returned.",
                "minimum": 0
              }
            }
          }
        ],
        "description": "Failure response message when an Append is aborted due to a failed condition."
      },
      "AppendInput": {
        "type": "object",
        "description": "Payload of an Append request message.",
        "required": [
          "records"
        ],
        "properties": {
          "fencing_token": {
            "type": [
              "string",
              "null"
            ],
            "description": "Enforce a fencing token which must have been previously set by a `fence` command record."
          },
          "match_seq_num": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/u64",
                "description": "Enforce that the sequence number issued to the first record matches."
              }
            ]
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppendRecord"
            },
            "description": "Batch of records to append atomically, which must contain at least one record, and no more\nthan 1000. The total size of a batch of records may not exceed 1MiB of metered bytes."
          }
        }
      },
      "AppendRecord": {
        "type": "object",
        "description": "Record to be appended to a stream.",
        "properties": {
          "body": {
            "type": "string",
            "description": "Body of the record."
          },
          "headers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Header"
            },
            "description": "Series of name-value pairs for this record."
          },
          "timestamp": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/u64",
                "description": "Timestamp for this record.\nThe service will always ensure monotonicity by adjusting it up if necessary to the maximum\nobserved timestamp. Refer to stream configuration for some of the finer semantics\naround whether a timestamp is required, and whether it is interpreted and capped at the\ncurrent time."
              }
            ]
          }
        }
      },
      "BasinConfig": {
        "type": "object",
        "properties": {
          "create_stream_on_append": {
            "type": "boolean",
            "description": "Create stream on append if it doesn't exist,\nusing the default stream configuration."
          },
          "create_stream_on_read": {
            "type": "boolean",
            "description": "Create stream on read if it doesn't exist,\nusing the default stream configuration."
          },
          "default_stream_config": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/StreamConfig",
                "description": "Default stream configuration."
              }
            ]
          }
        }
      },
      "BasinInfo": {
        "type": "object",
        "required": [
          "name",
          "scope",
          "state"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Basin name."
          },
          "scope": {
            "$ref": "#/components/schemas/BasinScope",
            "description": "Basin scope."
          },
          "state": {
            "$ref": "#/components/schemas/BasinState",
            "description": "Basin state."
          }
        }
      },
      "BasinReconfiguration": {
        "type": "object",
        "properties": {
          "create_stream_on_append": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Create a stream on append."
          },
          "create_stream_on_read": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Create a stream on read."
          },
          "default_stream_config": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/StreamReconfiguration",
                "description": "Basin configuration."
              }
            ]
          }
        }
      },
      "BasinScope": {
        "type": "string",
        "enum": [
          "aws:us-east-1"
        ]
      },
      "BasinState": {
        "type": "string",
        "enum": [
          "active",
          "creating",
          "deleting"
        ]
      },
      "CreateBasinRequest": {
        "type": "object",
        "required": [
          "basin"
        ],
        "properties": {
          "basin": {
            "type": "string",
            "description": "Basin name."
          },
          "config": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/BasinConfig",
                "description": "Basin configuration."
              }
            ]
          },
          "scope": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/BasinScope",
                "description": "Basin scope."
              }
            ],
            "default": "aws:us-east-1"
          }
        }
      },
      "CreateOrReconfigureBasinRequest": {
        "type": "object",
        "properties": {
          "config": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/BasinConfig",
                "description": "Basin configuration."
              }
            ]
          },
          "scope": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/BasinScope",
                "description": "Basin scope.\nThis cannot be reconfigured."
              }
            ],
            "default": "aws:us-east-1"
          }
        }
      },
      "CreateStreamRequest": {
        "type": "object",
        "required": [
          "stream"
        ],
        "properties": {
          "config": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/StreamConfig",
                "description": "Stream configuration."
              }
            ]
          },
          "stream": {
            "type": "string",
            "description": "Stream name."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "code": {
            "type": [
              "string",
              "null"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Header": {
        "type": "object",
        "description": "Headers add structured information to a record as name-value pairs.",
        "required": [
          "name",
          "value"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Header name blob.\nThe name cannot be empty, with the exception of an S2 command record."
          },
          "value": {
            "type": "string",
            "description": "Header value blob."
          }
        }
      },
      "IssueAccessTokenResponse": {
        "type": "object",
        "required": [
          "access_token"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Created access token."
          }
        }
      },
      "ListAccessTokensResponse": {
        "type": "object",
        "required": [
          "access_tokens",
          "has_more"
        ],
        "properties": {
          "access_tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTokenInfo"
            },
            "description": "Access tokens information.",
            "maxItems": 1000
          },
          "has_more": {
            "type": "boolean",
            "description": "Indicates that there are more results that can be listed with `start_after`."
          }
        }
      },
      "ListBasinsResponse": {
        "type": "object",
        "required": [
          "basins",
          "has_more"
        ],
        "properties": {
          "basins": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BasinInfo"
            },
            "description": "Matching basins.",
            "maxItems": 1000
          },
          "has_more": {
            "type": "boolean",
            "description": "Indicates that there are more results that can be listed with `start_after`."
          }
        }
      },
      "ListStreamsResponse": {
        "type": "object",
        "required": [
          "streams",
          "has_more"
        ],
        "properties": {
          "has_more": {
            "type": "boolean",
            "description": "Indicates that there are more results that can be listed with `start_after`."
          },
          "streams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StreamInfo"
            },
            "description": "Matching streams.",
            "maxItems": 1000
          }
        }
      },
      "Operation": {
        "type": "string",
        "enum": [
          "list-basins",
          "create-basin",
          "delete-basin",
          "reconfigure-basin",
          "get-basin-config",
          "issue-access-token",
          "revoke-access-token",
          "list-access-tokens",
          "list-streams",
          "create-stream",
          "delete-stream",
          "get-stream-config",
          "reconfigure-stream",
          "check-tail",
          "append",
          "read",
          "trim",
          "fence"
        ]
      },
      "PermittedOperationGroups": {
        "type": "object",
        "properties": {
          "account": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ReadWritePermissions",
                "description": "Access permissions at account level."
              }
            ]
          },
          "basin": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ReadWritePermissions",
                "description": "Access permissions at basin level."
              }
            ]
          },
          "stream": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ReadWritePermissions",
                "description": "Access permissions at stream level."
              }
            ]
          }
        }
      },
      "ReadBatch": {
        "type": "object",
        "required": [
          "records"
        ],
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SequencedRecord"
            }
          }
        }
      },
      "ReadEvent": {
        "oneOf": [
          {
            "type": "object",
            "title": "batch",
            "required": [
              "event",
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ReadBatch"
              },
              "event": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "title": "error",
            "required": [
              "event",
              "data"
            ],
            "properties": {
              "data": {
                "type": "string"
              },
              "event": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "title": "ping",
            "required": [
              "event",
              "data"
            ],
            "properties": {
              "data": {
                "type": "string"
              },
              "event": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ReadWritePermissions": {
        "type": "object",
        "properties": {
          "read": {
            "type": "boolean",
            "description": "Read permission.",
            "default": false
          },
          "write": {
            "type": "boolean",
            "description": "Write permission.",
            "default": false
          }
        }
      },
      "ResourceSet": {
        "oneOf": [
          {
            "type": "object",
            "title": "exact",
            "description": "Match only the resource with this exact name.\nUse an empty string to match no resources.",
            "required": [
              "exact"
            ],
            "properties": {
              "exact": {
                "type": "string",
                "description": "Match only the resource with this exact name.\nUse an empty string to match no resources."
              }
            }
          },
          {
            "type": "object",
            "title": "prefix",
            "description": "Match all resources that start with this prefix.\nUse an empty string to match all resource.",
            "required": [
              "prefix"
            ],
            "properties": {
              "prefix": {
                "type": "string",
                "description": "Match all resources that start with this prefix.\nUse an empty string to match all resource."
              }
            }
          }
        ]
      },
      "RetentionPolicy": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "age"
            ],
            "properties": {
              "age": {
                "type": "integer",
                "format": "int64",
                "minimum": 0
              }
            }
          }
        ]
      },
      "S2Format": {
        "type": "string",
        "enum": [
          "json",
          "json-binsafe"
        ]
      },
      "SequencedRecord": {
        "type": "object",
        "description": "Record that is durably sequenced on a stream.",
        "required": [
          "seq_num",
          "timestamp"
        ],
        "properties": {
          "body": {
            "type": "string",
            "description": "Body of the record."
          },
          "headers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Header"
            },
            "description": "Series of name-value pairs for this record."
          },
          "seq_num": {
            "$ref": "#/components/schemas/u64",
            "description": "Sequence number assigned by the service."
          },
          "timestamp": {
            "$ref": "#/components/schemas/u64",
            "description": "Timestamp for this record."
          }
        }
      },
      "StorageClass": {
        "type": "string",
        "enum": [
          "standard",
          "express"
        ]
      },
      "StreamConfig": {
        "type": "object",
        "properties": {
          "retention_policy": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/RetentionPolicy",
                "description": "Retention policy for the stream.\nIf unspecified, the default is to retain records for 7 days."
              }
            ]
          },
          "storage_class": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/StorageClass",
                "description": "Storage class for recent writes."
              }
            ]
          },
          "timestamping": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/TimestampingConfig",
                "description": "Timestamping behavior."
              }
            ]
          }
        }
      },
      "StreamInfo": {
        "type": "object",
        "required": [
          "name",
          "created_at"
        ],
        "properties": {
          "created_at": {
            "type": "string",
            "format": "time",
            "description": "Creation time in ISO 8601 format."
          },
          "deleted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "time",
            "description": "Deletion time in ISO 8601 format, if the stream is being deleted."
          },
          "name": {
            "type": "string",
            "description": "Stream name."
          }
        }
      },
      "StreamPosition": {
        "type": "object",
        "description": "Position of a record in a stream.",
        "required": [
          "seq_num",
          "timestamp"
        ],
        "properties": {
          "seq_num": {
            "type": "integer",
            "format": "int64",
            "description": "Sequence number assigned by the service.",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp, which may be user-specified or assigned by the service.\nIf it is assigned by the service, it will represent milliseconds since Unix epoch.",
            "minimum": 0
          }
        }
      },
      "StreamReconfiguration": {
        "type": "object",
        "properties": {
          "retention_policy": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/RetentionPolicy",
                "description": "Retention policy for the stream.\nIf unspecified, the default is to retain records for 7 days."
              }
            ]
          },
          "storage_class": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/StorageClass",
                "description": "Storage class for recent writes."
              }
            ]
          },
          "timestamping": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/TimestampingReconfiguration",
                "description": "Timestamping behavior."
              }
            ]
          }
        }
      },
      "TailResponse": {
        "type": "object",
        "required": [
          "tail"
        ],
        "properties": {
          "tail": {
            "$ref": "#/components/schemas/StreamPosition",
            "description": "Sequence number that will be assigned to the next record on the stream,\nwith timestamp of the last record."
          }
        }
      },
      "TimestampingConfig": {
        "type": "object",
        "properties": {
          "mode": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/TimestampingMode",
                "description": "Timestamping mode for appends that influences how timestamps are handled."
              }
            ]
          },
          "uncapped": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Allow client-specified timestamps to exceed the arrival time.\nIf this is false or not set, client timestamps will be capped at the arrival time."
          }
        }
      },
      "TimestampingMode": {
        "type": "string",
        "enum": [
          "client-prefer",
          "client-require",
          "arrival"
        ]
      },
      "TimestampingReconfiguration": {
        "type": "object",
        "properties": {
          "mode": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/TimestampingMode",
                "description": "Timestamping mode for appends that influences how timestamps are handled."
              }
            ]
          },
          "uncapped": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Allow client-specified timestamps to exceed the arrival time."
          }
        }
      },
      "u64": {
        "type": "integer",
        "format": "int64",
        "minimum": 0
      }
    },
    "securitySchemes": {
      "access_token": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "access_token": []
    }
  ],
  "tags": [
    {
      "name": "basins",
      "description": "Manage basins"
    },
    {
      "name": "access-tokens",
      "description": "Manage access tokens"
    },
    {
      "name": "streams",
      "description": "Manage streams"
    },
    {
      "name": "records",
      "description": "Manage records"
    }
  ]
}
